@import 'reset';
@import 'mixins';
@import 'count';
@import 'header';
@import 'card';
@import './card-animation/card-name';
@import './card-animation/card-photo';
@import './card-animation/card-gallery';

html,
body {
    margin: 0 auto;
    margin-top: auto;
    max-width: 1289px;
    max-height: 100vh;
    font-size: 10px;
    font-family: 'Cormorant Garamond',
        serif;
}