.card__description {
    animation: hideDescription 0.5s ease-in-out both;
    word-wrap: break-word;

    &--active {
        animation: visibleDescription 0.5s ease-in-out both;
    }
}

@keyframes visibleDescription {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes hideDescription {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}