.card__name {
    @include fluid-type(65px, 150px, 630px, 1440px);
    color: #fff;
    font-weight: 500;
    line-height: 70%;
    transform: translate(-7%, -10%);
    overflow: hidden;
    word-spacing: 10000vw;

    @media (max-width: 630px) {
        width: 80%;
        transform: translate(0%, 0%);
        @include fluid-type(55px, 110px, 300px, 629px);
    }

    &::before {
        content: '';
        width: 100%;
        height: 50%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: #fff;
        transform: translateY(-105%);
        z-index: -1;
        opacity: 0;
    }

    &::after {
        content: '';
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        position: absolute;
        transform: translateY(105%);
        background-color: #fff;
        z-index: -1;
        opacity: 0;
    }

    &--active::after {
        opacity: 0;
        animation: changingNameCurtainDown 1s ease-in-out;
    }

    &--active::before {
        opacity: 0;
        animation: changingNameCurtainUp 1s ease-in-out;
    }

}

@-webkit-keyframes changingNameCurtainDown {
    0% {
        -webkit-transform: translateY(105%);
        -webkit-opacity: 0;
    }

    10% {
        -webkit-opacity: 1;
    }

    50% {
        -webkit-transform: translateY(0%);
        -webkit-opacity: 1;
    }

    60% {
        -webkit-transform: translateY(0%);
        -webkit-opacity: 1;
    }

    90% {
        -webkit-opacity: 1;
    }

    100% {
        -webkit-opacity: 0;
        -webkit-transform: translateY(105%);
    }
}

@-webkit-keyframes changingNameCurtainUp {
    0% {
        -webkit-opacity: 0;
        -webkit-transform: translateY(-105%);
    }

    10% {
        -webkit-opacity: 1;
    }

    50% {
        -webkit-opacity: 1;
        -webkit-transform: translateY(0%);
    }

    60% {
        -webkit-opacity: 1;
        -webkit-transform: translateY(0%);
    }

    90% {
        -webkit-opacity: 1;
    }

    100% {
        -webkit-opacity: 0;
        -webkit-transform: translateY(-105%);
    }
}